* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-areas:
                       'nav nav'
                       'main side'
                       'footer footer';
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 1fr 275px;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-width: 800px;
}
body {
  background-color: deepskyblue;
  font-family: "Roboto";
  overflow:scroll;
}
header {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
  min-width: 800px;
}
#banner {
  display: block;
  max-width: 878px;
  margin: 1.5em auto;
  filter: hue-rotate(0);
  transition: filter 1s
}
#banner:hover {
  filter: hue-rotate(45deg);
}
nav {
  grid-area: nav;
  overflow: hidden;
  background-color: #7fffffff;
  text-align: center;
  /* border-radius: 10px 10px 0 0; */
}
nav ul {
  padding: 0;
}
nav li {
  list-style-type: none;
  display: inline;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
  padding: 0.5em 3em;
  color: black;
  transition:color 1s;
  transition: border-bottom 0.5s;
}
nav a:hover {
  border-bottom: 2px solid salmon;
  color: deepskyblue;
}
.homebutton {
  color: salmon;
  transition: color 1s;
  transition: border-bottom 0.5s;
}
.homebutton:hover {
  color: deeppink;
}
main {
  grid-area: main;
  height: 1000px;
  background-color: white;
  padding: 2em;
}
footer {
  grid-area: footer;
  background-color: lightpink;
  text-align: center;
  padding: 8px;
  font-size: 0.8rem;
  border-radius: 0 0 10px 10px;
}
.side {
  grid-area: side;
  background-color: salmon;
  padding: 1em;
}
#home {
  text-align: left;
}
a {
  color: blueviolet;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: deepskyblue;
}
h2 {
  font-size:2em;
}
.gallery {
  margin: 0 auto;
  max-width:900px;
}
.thumb {
  float:left;
  max-width:300px;
  padding: 1em;

}
.gallerytitle {
  text-align:center;
}
form {
  padding: 1em;
}
label {
  float: left;
  display: block;
  text-align: right;
  width: 8em;
  padding-right: 1em;
  font-weight:bold;
  text-transform:uppercase;
}
input, textarea {
  display: block;
  margin-bottom: 1em;
  background-color:white;
  border:2px dotted #00c1ff;

}
#Submit {
  margin-left: 8em;
  border:2px dotted;
  color:blueviolet;
  font-weight:bolder;
  font-size:1em;
  text-transform:uppercase;
  letter-spacing:.05em;
}
.thumb2 {
  margin:0 auto;
  display:block;
}
.des {
  text-align:center;
}
table {
  border-collapse:collapse; 
  margin: 0 auto;
}
tr {
  border:solid black 1px;

}
th, td {
  padding: 0.7em 1.5em;;
}
th {
  padding-right:2em;
  color: #6508ff;
}
caption {
  padding:1em 0;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}
.me {
  max-width:100%;
}